<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="datadrivenSuite">
  <test thread-count="5" name="datadrivenTest">
    <classes>
      <class name="maven_datadriven_readExcelfile_project.ExcelDatademo"/>
    </classes>
  </test> <!-- datadrivenTest -->
</suite> <!-- datadrivenSuite -->
